@media screen and (max-width: 600px) {
    .abdwahed-logo{
        border-radius: 100%;
        position:relative; 
        overflow:hidden;
        box-shadow: rgba(145, 143, 143, 0.452) 0px 5px 70px 4px;    background-color: #ebebeb;   
        max-height: 18vh; 
    }

    
    
}









